article {
    position: relative;
    border: solid;
    border-color: lightskyblue;
    border-radius: 30px;
    background-color:aliceblue;
    margin-bottom: 15px;
}
.photo {
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 30px;
}

body{
    width: 100%;
    background-color: lightskyblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

p {
    margin-left: 20px;
}
h2 {
    margin-left: 20px;
    text-decoration: underline;
}

main {
    margin-left: 60px;
    margin-right: 60px;
}

